{{#markdown}}
<p class="text-center"><strong>Történelemből távoktatási képzést indítunk!</strong></p>

Rugalmasságra van szükséged? Szeretnél a saját időbeosztásodban haladni a tananyaggal? Akkor neked ajánljuk a szaktanári konzultációval támogatott távoktatási képzésünket, melyet történelemből indítunk az SZTE COURSERA felületén. (A Coursera egy nemzetközileg elismert oktatási platform, melyről bővebben itt olvashatsz.)

<ul>
    <li>Rugalmas beosztásban, egyéni élethelyzethez igazítható, saját tempóban végezhető.</li>
  <li>Emelt szinten a jelentkező előképzettségéhez és céljaihoz illeszkedő haladási tervvel.</li>
  <li>Az emelt szintű érettségi követelményekben szereplő tematikák feldolgozása vázlattal, áttekintő gondolattérképpel, a megértést segítő hang- és videóanyaggal.</li>
  <li>Szóbeli magyarázattal támogatott mintamegoldások minden feladattípushoz.</li>
  <li>Feladatok, melyek egy része azonnali visszajelzést ad (lexikai ismeretek), a többit a szaktanár ellenőrzi és ad róluk a problémákra rávilágító visszajelzést.</li>
  <li>Ellenőrző feladatok: a CooSpace-n kitölthető vizsgatesztek közül 8 db megírása kötelező, a kurzusért kapható többletpont feltétele.</li>
  <li>Gyakorló feladatok: 4 db forráselemző feladatsor, 2 db rövid esszé, 2 db hosszú esszé, 2 db többkorszakos komplex esszé és 2 db összehasonlító komplex esszé megírása kötelező, a kurzusért kapható többletpont feltétele.</li>
  <li>Próbaérettségi írásban (az első próbaérettségi megírása nem kötelező, a második próbaérettségi kitöltése a kurzusért kapható többletpont egyik feltétele).</li>
  <li>Online konzultációk: 3 konzultáció kötelező, a kurzusért kapható többletpont feltétele (egy a kurzus kezdetén, egy a közepén, egy a végén), de havonta egy konzultációt kezdeményezhetsz, ha szükséged van a kurzust vezető tanárral való egyeztetésre.</li>
</ul>
{{/markdown}}