<!-- prettier-ignore -->
<!-- <div class="sticky" data-sticky data-margin-top="0"> -->
<p></p>
<p class="text-center" style="margin-bottom: -0.5em;">
    <a href="{{root}}index.html">
        <img class="thumbnail" src="{{root}}assets/img/ja_logo_magenta_blue_allo_small.jpg" alt="">
    </a>
</p>
{{#each global.menu}}
<ul class="vertical menu accordion-menu" data-accordion-menu>
    <li {{#ifpage page}} class="current" {{/ifpage}}>
        <a href="../{{url}}.html"><i class="fi-{{icon}}"></i> {{title}}</a>
</li>
</ul>
{{/each}}

<!-- prettier-ignore-end -->